extends layout

block gcsCss
	link(rel='stylesheet', href='/stylesheets/alertify.core.css')
	link(rel='stylesheet', href='/stylesheets/alertify.default.css')
	link(rel='stylesheet', href='/stylesheets/jquery.datetimepicker.css')

block gcsNavbarItems
	ul.nav.navbar-nav
		li
			a(href="/queueMonitor")
				i.fa.fa-desktop.fa-lg 
				|&nbsp;Queues
		li
			a(href="/userAdmin")
				i.fa.fa-user.fa-lg
				|&nbsp;Users
		li
			a(href="/reports")
				i.fa.fa-file-text.fa-lg 
				|&nbsp;Reports
		li.active
			a(href="#")
				i.fa.fa-files-o.fa-lg 
				|&nbsp;Campaigns
		li
			a(href="/logout")
				i.fa.fa-power-off.fa-lg 
				|&nbsp;Logout
		li
			a(data-toggle="modal" href="#helpModal")
				i.fa.fa-question-circle.fa-lg
				|&nbsp;Help


block content
	div.chargeCal.searchContainer
		label.control-label From: 
			input#dateFrom
		br
		label.control-label Until: 
			input#dateUntil
		br
		label.control-label Queues: 
			input#queues
		.input-group
			span.input-group-btn
				span.btn-browse.btn-file(style="font-size: 17px;") Browse 
					input#fileUpload(type='file')
			input.input-browse(type='text', disabled, style="width: 216px;font-weight: 700;margin-bottom: 0px;")
			span.liHover(data-bind="click: read" style="margin-left: 9px;")  
				span#uploadSpan.fa-stack.liButton
					i.fa.fa-circle.fa-stack-2x.actionBtnBase
					i.fa.fa-upload.fa-stack-1x.actionBtnfa
	#output

	div.queueHead(data-bind="foreach: campaigns")
		div.info-queue-container
			div.queue-list-container
				ul.call-list-ul
					li.user-list-header
						span.campaing-field
							|Name
						span.campaing-field
							|Phone number
						span.campaing-field
							|Status
						span.campaing-field
							|Agent
						span.campaing-field
							|Comment
					<!-- ko foreach: phones -->
					li.user-list-user
						span.campaing-field.user-list-name(data-bind="text: name")
							|&nbsp;&nbsp;
						span.campaing-field.user-list-name(data-bind="text: phone")
							|&nbsp;&nbsp;
					//
						span.campaing-field.user-list-name(data-bind="text: status")
							|&nbsp;&nbsp;
						span.campaing-field.user-list-name(data-bind="text: agent")
							|&nbsp;&nbsp;
						span.campaing-field.user-list-name(data-bind="text: comment")
							|&nbsp;&nbsp;
					<!-- /ko -->

block gcsScripts
	script(src="/javascripts/components/alertify.min.js")
	script(src="/javascripts/components/knockout-2.3.0.js")
	script(src="/javascripts/components/knockout.viewmodel.min.js")
	script(src="/javascripts/components/jquery.datetimepicker.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/app/campaignsSettings.js")