//-
//-Greencore Solutions SRL Main Jade Layout
//-
//-Use block content to include the body of derivated pages
//-
//-Use block gcsCSS to include extra css from derivated pages
//-
//-Use block gcsScripts to add extra javascript from derivated pages
doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(type="image/x-icon" href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    block gcsCss
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        span.navbar-brand(href="#")          
          span#barLogo
            img(src="images/g-icon-15x15.png")
            |greencore solutions
      div.collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
        block gcsNavbarItems        

    block content

    script(src="/javascripts/components/jquery-2.0.3.min.js")
    script(src="/javascripts/components/bootstrap.min.js")
    script(src="//localhost:35735/livereload.js")
    block gcsScripts
