extends layout

block content
  div#loginContainer
    form(action="login" method="post")
      div#gcsLogo
        img(src="images/g24.png")
      div
        h3
          label Username: 
          input(type="text" name="username")
      div
        h3
          label Password: 
          input(type="password" name="password")
      div
        input#submit(type="submit" value="Login")
