extends layout

block gcsCss
	link(rel='stylesheet', href='/stylesheets/alertify.core.css')
	link(rel='stylesheet', href='/stylesheets/alertify.default.css')
	link(rel='stylesheet', href='/stylesheets/jquery.datepick.css')

block gcsNavbarItems
	ul.nav.navbar-nav
		li
			a(href="/queueMonitor")
				i.fa.fa-desktop.fa-lg 
				|&nbsp;Queues
		li
			a(href="/userAdmin")
				i.fa.fa-user.fa-lg
				|&nbsp;Users
		li.active
			a(href="#")
				i.fa.fa-file-text.fa-lg 
				|&nbsp;Reports
		li
			a(href="/campaigns")
				i.fa.fa-files-o.fa-lg 
				|&nbsp;Campaigns
		li
			a(href="/logout")
				i.fa.fa-power-off.fa-lg 
				|&nbsp;Logout
		li
			a(data-toggle="modal" href="#helpModal")
				i.fa.fa-question-circle.fa-lg
				|&nbsp;Help

	div.nav.nav-pills
		p.navbar-text Queues:
		<!-- ko foreach: $data.queues -->
		<!-- ko if: "default" != id() -->
		li
			a.queue(data-bind="attr: {'id': id}, text: id, click: markSelectedQueue")
		<!-- /ko -->
		<!-- /ko -->

block content
	br
	br
	br
	div.col-md-8.col-sm-6.queueHead
		div(data-bind="with: selectedQueue")
			div.queueID
				|Agents in Queue 
				span(data-bind="text: id")
			div.statsDataReports
				li.liHover(data-bind="attr: {'id': id}, visible: id != '', click: agentsChart")
					span Agents chart 
						span.fa-stack.liButton
							i.fa.fa-circle.fa-stack-2x.actionBtnBase
							i.fa.fa-bar-chart.actionBtnIcon.fa-stack-1x
				<!-- ko foreach: statsCalls -->
				li.liHover.liDynamic(data-bind="click: markSelectedStat")
					span(data-bind="text: name")
					span.statValue(data-bind="text: length")
				<!-- /ko -->
		
		div.info-queue-container(data-bind="with: selectedStat")
			div.queue-list-container
				ul.call-list-ul(data-bind="visible: name != ''")
					li.user-list-header
						span.queueCall-field
							|Date
						span.queueCall-field
							|Origin
						span.queueCall-field
							|Destiny
					<!-- ko foreach: calls -->
					li.user-list-user
						span.queueCall-field.user-list-name(data-bind="text: date")
							|&nbsp;&nbsp;
						span.queueCall-field.user-list-name(data-bind="text: calleridnum")
							|&nbsp;&nbsp;
						span.queueCall-field.user-list-name(data-bind="text: connectedlinenum")
							|&nbsp;&nbsp;
					<!-- /ko -->

		div.agentsContainer(data-bind='with: agentsCharts')
			div.agent(data-bind='visible: agentsCharts')
				div.agentTop(data-bind='foreach: agents')
					div.agentStatus
						div.agentIcon
						div.agentTopName
							span(data-bind="text: name")
						div.agentTopId
							|ext.
							span(data-bind="text: id")
							span(data-bind="visible: paused() == 1")
								| &nbsp;--> Paused

		div(data-bind='visible: agentsCharts().agentsCharts != false')
			div(style="height: 400px;margin-left: 30px;")
				div.searchContainer
					
					label.control-label From: 
						input#dateFrom
					br
					label.control-label Until: 
						input#dateUntil
					div.statsDataReports
						button#range.liHover Search							
						button#AllPauses.liHover All

				div(style="float:left;")
					#dashboard
			div
				div.info-queue-container(data-bind='with: pausedAgent')
					div.queue-list-container
						div.queueID
							|Pauses from agent 
							span(data-bind="text: _id")
						ul.call-list-ul
							li.user-list-header
								span.queueCall-field
									|Start
								span.queueCall-field
									|End
								span.queueCall-field
									|Pausedtime
							<!-- ko foreach: pauses -->
							li.user-list-user
								span.queueCall-field.user-list-name(data-bind="text: epochS")
									|&nbsp;&nbsp;
								span.queueCall-field.user-list-name(data-bind="text: epochF")
									|&nbsp;&nbsp;
								span.queueCall-field.user-list-name(data-bind="text: timeD")
									|&nbsp;&nbsp;
							<!-- /ko -->

block gcsScripts
	script(src="/javascripts/components/alertify.min.js")
	script(src="/javascripts/components/knockout-2.3.0.js")
	script(src="/javascripts/components/knockout.viewmodel.min.js")
	script(src="/javascripts/components/canvasjs.js")
	script(src="/javascripts/components/datepick/jquery.plugin.js")
	script(src="/javascripts/components/datepick/jquery.datepick.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/app/queueReports.js")