extends layout

block gcsCss
	link(rel='stylesheet', href='/stylesheets/alertify.core.css')
	link(rel='stylesheet', href='/stylesheets/alertify.default.css')

block gcsNavbarItems
	ul.nav.navbar-nav
		if(role)
			li
				a(href="/queueMonitor")
					i.icon-desktop.icon-large 
					|&nbsp;Queues
			li
				a(href="/userAdmin")
					i.icon-user.icon-large 
					|&nbsp;Users
			li.active
				a(href="#")
					i.icon-file-text.icon-large 
					|&nbsp;Reports
		li
			a(href="/reportsAgents")
				i.icon-archive.icon-large 
				|&nbsp;Agents
		li
			a(href="/logout")
				i.icon-off.icon-large 
				|&nbsp;Logout
		li
			a(data-toggle="modal" href="#helpModal")
				i.icon-question-sign.icon-large
				|&nbsp;Help
	div.nav.nav-pills
		p.navbar-text Queues:
		<!-- ko foreach: $data.queues -->
		<!-- ko if: "default" != id() -->
		li
			a.queue(data-bind="attr: {'id': id}, text: id, click: markSelectedQueue")
		<!-- /ko -->
		<!-- /ko -->
block content
	br
	br
	br
	div.col-md-8.col-sm-6.queueHead
		div(data-bind="with: selectedQueue")
			div.queueID
				|Agents in Queue 
				span(data-bind="text: id")
			div.statsDataReports
				<!-- ko foreach: statsCalls -->
				li.liHover(data-bind="click: markSelectedStat")
					span(data-bind="text: name")
					span.statValue(data-bind="text: length")
				<!-- /ko -->

		
		div.info-queue-container(data-bind="with: selectedStat")
			div.queue-list-container
				ul.call-list-ul
					li.user-list-header
						span.call-field
							|Date
						span.call-field
							|Origin
						span.call-field
							|Destiny
					<!-- ko foreach: calls -->
					li.user-list-user
						span.call-field.user-list-name(data-bind="text: date")
							|&nbsp;&nbsp;
						span.call-field.user-list-name(data-bind="text: connectedlinenum")
							|&nbsp;&nbsp;
						span.call-field.user-list-name(data-bind="text: calleridnum")
							|&nbsp;&nbsp;
					<!-- /ko -->


block gcsScripts
	script(src="/javascripts/components/alertify.min.js")
	script(src="/javascripts/components/knockout-2.3.0.js")
	script(src="/javascripts/components/knockout.viewmodel.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/app/queueReports.js")