extends layout

block gcsCss
	link(rel='stylesheet', href='/stylesheets/alertify.core.css')
	link(rel='stylesheet', href='/stylesheets/alertify.default.css')

block gcsNavbarItems
	ul.nav.navbar-nav
		if(role)
			li
				a(href="/queueMonitor")
					i.icon-desktop.icon-large 
					|&nbsp;Queues
			li
				a(href="/userAdmin")
					i.icon-user.icon-large 
					|&nbsp;Users
			li
				a(href="/reports")
					i.icon-file-text.icon-large 
					|&nbsp;Reports
		else
			li.active
				a(href="#")
					i.icon-archive.icon-large 
					|&nbsp;Agents
					button#agentReport(hidden value=exten)
		li
			a(href="/logout")
				i.icon-off.icon-large 
				|&nbsp;Logout
		li
			a(data-toggle="modal" href="#helpModal")
				i.icon-question-sign.icon-large
				|&nbsp;Help
block content
	br
	br
	br
	div.col-md-8.col-sm-6.queueHead
		<!-- ko foreach: users -->
		div.queueID
			|Calls reports of 
			span(data-bind="text: name")
		div.statsDataReports
			<!-- ko foreach: statsCalls -->
			li.liHover(data-bind="click: markSelectedStat")
				span(data-bind="text: name")
				span.statValue(data-bind="text: length")
			<!-- /ko -->
		<!-- /ko -->

		
		div.info-queue-container(data-bind="with: selectedStat")
			div.queue-list-container
				ul.call-list-ul
					li.user-list-header
						span.call-field
							|Date
						span.call-field
							|Origin
						span.call-field
							|Destiny
						span.call-field
							|Status
					<!-- ko foreach: calls -->
					li.user-list-user
						span.call-field.user-list-name(data-bind="text: date")
							|&nbsp;&nbsp;
						span.call-field.user-list-name(data-bind="text: calleridnum")
							|&nbsp;&nbsp;
						span.call-field.user-list-name(data-bind="text: connectedlinenum")
							|&nbsp;&nbsp;
						span.call-field.user-list-name(data-bind="text: status")
							|&nbsp;&nbsp;
					<!-- /ko -->



block gcsScripts
	script(src="/javascripts/components/alertify.min.js")
	script(src="/javascripts/components/knockout-2.3.0.js")
	script(src="/javascripts/components/knockout.viewmodel.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/app/agentsReports.js")